<!DOCTYPE html>
<html lang="{{ site.lang | default: "en_gb" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

    <title>André Ferraz</title>
    <meta property="og:title" content="André Ferraz">
    <meta property="og:locale" content="en_GB">
    <meta name="description" content="A London based software engineer working in the e-commerce space.">
    <meta property="og:description" content="A London based software engineer working in the e-commerce space.">
    <link rel="canonical" href="https://andreferraz.uk/">
    <meta property="og:url" content="https://andreferraz.uk/">
    <meta property="og:site_name" content="André Ferraz">
    <meta name="twitter:card" content="summary">
    <meta property="twitter:title" content="André Ferraz">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.show_links %}
        <a href="https://www.linkedin.com/in/andré-ferraz/" target="_blank" class="btn">Linkedin</a>
        <a href="https://github.com/bydrei" target="_blank" class="btn">Github</a>
        <a href="/assets/pdf/Resume.pdf" target="_blank" class="btn">Resume</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
  </body>
</html>
